:root {
    font-size: 16px;
    --font-family-roboto: "Roboto", sans-serif;
    --ligth-gray: #616161;
    --gray: #212121;
    --dark-gray: #212429;
    --black: #000000;
    --white: #ffffff;
}

html{
    scroll-behavior: smooth;
}

body {
    color: var(--gray);
    font-family: var(--font-family-roboto);
    margin: 0;
}

.hero {
    block-size: 3.125rem; 
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('/assets/img/fondos/pattern.png');
}

header {
    max-inline-size: 11.75rem;
    font-size: 0.875rem;
    color: var(--ligth-gray);
    margin-block-start: 1.25rem;
}

.header-content {
    padding-inline: 1.25rem;
}

header li {
    margin-block-end: 1rem;
}

header a {
    color: var(--ligth-gray);
    text-decoration: none;
}

header a:hover {
    color: var(--gray);
}

.header .variantes ul {
    list-style: none;
    padding-inline-start: 0;
}

.header .variantes a {
    padding: 0.5rem;
    display: block;
}

.header .variantes li:hover>a {
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--white);
}

nav details summary {
    font-weight: bold;
    line-height: 1.5rem;
}

h1 {
    /* font-size: 3.75em; */
    font-weight: normal;
    font-size: 2.5em;
    margin-block: 1.25rem 1rem;
    /* margin-block: 4rem 1rem; */
}

hr {
    margin-block: 2.5rem;
    color: #61616133
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin-block: 2.5rem 1.5rem;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    /* margin: 16px 0 1.5rem; */
    /* position: sticky;
    top: 0;
    background: var(--white); */
}

.section-content + hr {
    display: none;
}

.section-content {
    counter-reset: titleList;
    margin-block-start: 2.5rem;
}

.section-content:first-of-type {
    margin-block-start: 0;
}

.section-content img {
    display: block;
    margin-top: 1.5rem;
    max-inline-size: 100%;
}

.section-content div {
    background: var(--white);
    position: sticky;
    top: 0;
    margin-block-start: 1rem;
}

.section-content div div {
    display: inline-block;
    /* margin: 16px 0 1.5rem; */
    /* margin-block-start: 1rem; */
}


.section-content div div h3 {
    counter-increment: titleList;
    padding-block-end: 0.5rem;
    display: inline-block;
    margin:0;
    /* margin-block-start: 2.5rem; */
}

.section-content div div h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content div div h3::after {
    content: '';
    inline-size: 100%;
    block-size: 0.25rem;
    background: var(--dark-gray);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section-content ol li, .section-model-content ol li {
    line-height: 1.5rem;
}

.section-content ul li, .section-model-content ul li {
    margin-bottom: 1rem;
}

.section-content blockquote {
    margin: 2rem 0;
    padding-left: 1rem;
    font-size: 1.5rem;
    border-left: 0.25rem solid var(--gray);
    line-height: 2rem;
}

.section-content blockquote span {
    color: var(--ligth-gray);
} 

.section-content blockquote span::before {
    content: '-';
}

pre {
    background: #FEC62E;
    padding: 2.5rem;
    font-family: var(--font-family-roboto);
    line-height: 1.5rem;
}

/*.debug { para depurar selectores o ver elementos
    /* background: red; */
    /* border: 1px solid red; afecta el modelo de caja */
    /* outline: 1px solid red; no afecta el modelo de caja, por fuera y por delante*/
    /* box-shadow: 0 0 0 1px red; no afecta el modelo de caja / por fuera y por detras */
    /* box-shadow: inset 0 0 0 1px red; no afecta el modelo de caja / por dentro y por detras */
/*}*/

.main {
    
}

.wrapper {
    max-width: 56.375rem; 
    margin: auto;
}

.main-content {
    margin-inline: 1rem;
}

.section-slider-content p {
    margin-block-start: 2.5rem;
}

.slider {
}

.slider .slider-container { 
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.slider .slider-slide .video {
    margin: 0;
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
}

.slider .slider-bullet-list {
    text-align: center;
    margin-block-start: 1rem;
    font-size: 0;
}

.slider .slider-bullet {
    display: inline-block;
    inline-size: 1rem;
    block-size: 1rem;
    background: rgba(66, 66, 66, 0.2);
    border-radius: 3.125rem;
    margin-inline-end: 0.5rem;
}

.slider .slider-bullet:last-of-type {
    margin-inline-end: 0;
}

.slider .slider-bullet:hover {
    background: #424242;
}

/* .slider .slider-bullet:active {
    background: #424242;
} */

.section-form-content {
    margin-block: 2.5rem;
}

.form {

}

.form input {
    border: 1px solid var(--ligth-gray);
    box-sizing: border-box;
    inline-size: 30%;
    border-radius: 90px;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    margin-block-end: 1.5rem;
    margin-inline-end: 1rem;
    font-size: 1rem;
}

.form input::-webkit-input-placeholder {
    color: #424242;
}

.form input[type="submit"] {
    background: var(--black);
    border: none;
    color: var(--white);
    margin-inline-end: 0;
}

footer {
    background: var(--dark-gray);
}


.footer-content {
    inline-size: 22.875rem;
    padding-block: 3rem;
    margin: auto;
    color: var(--white);
}

.footer-content p {
    text-align: center;
}

.footer-content .redes {
    inline-size: 6.5rem;
    block-size: 1.5rem;
    margin: auto;
    font-size: 0;
}

.footer-content .redes a {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    
}

.footer-content .redes a:nth-child(2) {
    padding-inline: 1rem;
}


@media screen and (min-width: 1366px) {
    .hero {
        block-size: 21.875rem;
    }

    hr {
        margin-block: 4rem;
    }

    h1 {
        font-size: 3.75em;
        margin-block-start: 4rem;
    }
    
    h2 {
        margin-block: 4rem 2.5rem;
    }

    .header {
        position: sticky;
        inset-block-start: -3rem; 
    }
    
    .header-content {
        position: relative;
        inset-block-start: 4rem;
        padding-inline: 0;
    }
    
    header {
        max-inline-size: 11.75rem;
        position: absolute;
        z-index: 1;
        inset-inline-start: -14.5rem; 
        inset-block-start: 0;
    }

    header .variantes {
        margin-block-end: 6.5rem;
    }

    .section-content {
        counter-reset: titleList;
        margin-block-start: 4rem;
    }
    
    .section-content img {
        margin-block-start: 2.5rem;
    }

    .section-slider-content p {
        margin-block-start: 4rem;
    }

    .section-form-content {
        margin-block-end: 7.0625rem;
    }

    .redes a:nth-child(2) {
        margin-inline:1rem;
    }
}


